body {
    background-color:blue;
}

h1 {
    font-size:3rem;
}

.elek {
    background-color: aquamarine;
    height: 200px;
    width:100%;

}

h2 {
    color:brown;
    font-size:2rem;
}

.rozetka img {
    float:left;
    margin:5px;
    border-radius:2px;
}

.rozetka {
    font-size:1.5rem;
    font-style:normal;
}

h3 {
    font-size:2.5rem;
}

.epic img {
    float:left;
}

.epic {
    background-color: antiquewhite;
    height: 100px;
    font-size:1.5rem;
    font-style:normal;
}

.steam {
    background-color: bisque;
    height:100px;
    font-size:1.5rem;
    font-style:normal;
    margin:0px;
}

.steam img {
    float:left;
}